vagrant/projects/stock/php3/demo/soap/stock.wsdl.tmp


<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:tns="http://litesms.net/sms_soap.php"
			 xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
			 targetNamespace="http://litesms.net/sms_soap.php">
	<types>
		<xsd:schema>
			<xsd:complexType name="array">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:array">
						<xsd:attribute ref="soapenc:arrayType" arrayType="tns:mixed[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<complexType name="mixed">
				<all>
					<element name="varString" type="xsd:string"/>
					<element name="varInt" type="xsd:int"/>
					<element name="varFloat" type="xsd:float"/>
					<element name="varArray" type="tns:array"/>
				</all>
			</complexType>
		</xsd:schema>
	</types>
	<message name="sendSmsInput">
		<part name="message" type="xsd:string"/>
		<part name="to" type="xsd:string"/>
		<part name="from" type="xsd:string"/>
		<part name="translit" type="xsd:string"/>
	</message>
	<message name="getBalanceInput"/>
	<message name="getStatusInput">
		<part name="message_id" type="xsd:int"/>
	</message>
	<message name="sendSmsOutput">
		<part name="return" type="xsd:string"/>
	</message>
	<message name="getBalanceOutput">
		<part name="return" type="xsd:string"/>
	</message>
	<message name="getStatusOutput">
		<part name="return" type="xsd:string"/>
	</message>
	<portType name="AvistSmsServerPortType">
		<operation name="sendSms">
			<input message="tns:sendSmsInput"/>
			<output message="tns:sendSmsOutput"/>
		</operation>
		<operation name="getBalance">
			<input message="tns:getBalanceInput"/>
			<output message="tns:getBalanceOutput"/>
		</operation>
		<operation name="getStatus">
			<input message="tns:getStatusInput"/>
			<output message="tns:getStatusOutput"/>
		</operation>
	</portType>
	<binding name="AvistSmsServerBinding" type="tns:AvistSmsServerPortType">
		<soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="sendSms">
			<input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
				<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
				<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="getBalance">
			<input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
				<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
				<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="getStatus">
			<input xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
				<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/">
				<soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="AvistSmsServerService">
		<port xmlns:default="http://schemas.xmlsoap.org/wsdl/soap/" name="AvistSmsServerPort" binding="tns:AvistSmsServerBinding">
			<soap-env:address xmlns="http://schemas.xmlsoap.org/wsdl/soap/" location="http://litesms.net/sms_soap.php"/>
		</port>
	</service>
</definitions>
